[Desktop Entry]
Name=linux-gravatar
Comment=Set your Linux profile picture using gravatar. 
Exec=/usr/local/bin/linux-gravatar
Icon=gravatar.png
Terminal=false
Type=Application
Categories=Other;Accessories;Gtk;
StartupNotify=true